<ion-list>
    <ion-item-group>
        <ion-item-divider color="light">{{ "Filter Type" | translate }}</ion-item-divider>
        <div *ngIf="filterList.length > 0">
            <ion-item *ngFor="let member of filterList">
                <ion-label>{{member?.filterName || 'N/A'}}</ion-label>
                <ion-checkbox color="danger" (click)="selectMember(member)" [(ngModel)]="member.checked"></ion-checkbox>
            </ion-item>
        </div>
    </ion-item-group>
</ion-list>
<ion-row style="background-color: darkgray">
    <ion-col width-50 style="text-align: center; background-color: #f53d3d;">
        <button ion-button clear small color="light" (click)="cancel()">{{ "Cancel" | translate }}</button>
    </ion-col>
    <ion-col width-50 style="text-align: center; background-color: #11b700;">
        <button ion-button clear small color="light" (click)="applyFilter()">{{ "Apply Filter" | translate }}</button>
    </ion-col>
</ion-row>
